@font-face {
    font-family: "Balance";
    src: url("Exo2-VariableFont_wght.ttf");
  }
  #card {
  font-family: "menu";
  font-size: 16px;
  position: relative;
  top: 15px;
  }
#balance {
  font-family: "Balance";
  font-size: 40px;
  position: relative;
  top: 15px;
}
#mining {
  font-family: "Balance";
  font-size: 13px;
  position: relative;
  top: 15px;
}
#balanceRamc {
  position:relative;
  top: 60px;
width: 220px;
height: 120px;
background: linear-gradient(to right,rgb(255, 109, 92), rgb(255, 131, 15));;
box-shadow: 0 0 4px rgba(0, 0, 0, 5);
border-radius: 20px;
padding: 10px;
}
#coin {
  font-family: "menu";
  font-size: 18px;
  position: relative;
  top: 90px;
  left: -35px;
  color: black;
}
#server {
  color: grey;
  font-family: "menu";
  font-size: 18px;
  position: relative;
  left: -3px;
  top: 90px;
}
#ect{
  font-family: "menu";
  font-size: 18px;
  position: relative;
  top: 90px;
  right: -30px;
  color: grey;
}
@font-face {
    font-family: "menu";
    src: url("Exo2-Bold.ttf");
  }
  @font-face {
    font-family: "text";
    src: url("Exo2-Bold.ttf");
  }
  #panel{
  position:relative;
  top: 105px;
width: 270px;
height: 400px;
background: white;
box-shadow: 0 0 4px rgba(0, 0, 0, 5);
border-radius: 20px;
padding: 10px;
}
#click_panel{
  position:relative;
  top: -5px;
width: 260px;
height: 70px;
left: -5px;
background: rgb(228, 228, 228);
border-radius: 20px;
padding: 10px;
}
#server_panel{
  position:relative;
  top: -5px;
width: 260px;
height:60px;
left: -5px;
display: none;
background: rgb(214, 225, 255);
border-radius: 20px;
padding: 10px;
}
#click{
  font-family: "text";
  font-size: 18px;
  position: relative;
  top: 18px;
  left: -27px;
  color: black;
}
#server_zanato{
  font-family: "text";
  font-size: 16px;
  position: relative;
  top: -89px;
  left: -27px;
  color: black;
}
#click_zarabotok{
  font-family: "text";
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: -47px;
  left: -15px;
  color: black;
}
#server_name{
  font-family: "text";
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: -70px;
  left: -28px;
  color: black;
}
#server_up {
position:relative;
  top: -173px;
width:65px;
height: 5px;
left: 92px;
padding: 10px;
border: 2px solid black;
border-radius: 20px;
padding: 10px;
opacity: 0.4;
}
#server_up_name {
position:relative;
  top: -23px;
  font-family: "menu";
left: -4px;
font-size: 15px;
}
#click_img{
  position: relative;
  left: -100px;
  width: 45px;
  height: 45px;
  top: -90px;
  transform: rotate(30deg);
}
#server_img{
  position: relative;
  left: -95px;
  width: 62px;
  height: 62px;
  top: -1px;
}
#temp_img{
  position: relative;
  right: -123px;
  width: 25px;
  height: 25px;
  top: -187px;
}
#temp{
  font-family: "text";
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: -152px;
  right: -102px;
  color: black;
}
#pros_panel{
  position:relative;
  top: 8px;
width: 260px;
height: 45px;
left: -5px;
background: rgb(228, 228, 228);
border-radius: 20px;
padding: 10px;
display: none;
}
#video_card_img{
  position: relative;
  left: -100px;
  width: 45px;
  height: 45px;
  top: -90px;
  transform: rotate(30deg);
}
#video_card_panel{
  position:relative;
  top: 2px;
width: 260px;
height: 45px;
left: -5px;
background: rgb(228, 228, 228);
border-radius: 20px;
padding: 10px;
display: none;
}
#video_card_img{
  position: relative;
  left: -100px;
  width: 45px;
  height: 45px;
  top: 0px;
  transform: rotate(0deg);
}
#pros_img{
  position: relative;
  left: -100px;
  width: 45px;
  height: 45px;
  top: 0px;
}
#pros_name{
  font-family: "text";
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: -60px;
  left: -20px;
  color: black;
}
#video_card_name{
  font-family: "text";
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: -60px;
  left: -16px;
  color: black;
}
#video_card_1{
  font-family: "text";
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: -81px;
  left: -41px;
  color: black;
}
#pros_1{
  font-family: "text";
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: -81px;
  left: -41px;
  color: black;
}
#pros_buy{
  position: relative;
  left: 110px;
  width: 60px;
  height: 60px;
  top: -150px;
}
#video_buy{
  position: relative;
  left: 110px;
  width: 60px;
  height: 60px;
  top: -150px;
}